//reset

@import "partials/reset";
@import "partials/variables";

body{
    background-color: $color-base;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    //estilos del header
    header{
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        margin: 1rem;
    }
    header h1 a:visited{
        color: $color-cuatro;
        text-decoration: none;
    }
    
    header h1 a:link{
        color: $color-cuatro;
        text-decoration: none;
    }
    
   //estilos del main
   main{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    main h2{
    text-align: center;
    color: $color-tres;
    font-family: 'Amiri', serif;
    margin: 1rem;
    }
    main h2 span{
        display: block;
    }
    main p{
        text-align: center;
    }
    main .boton{
        background-color: $color-dos;
        padding: 0.6rem;
        margin-top: 1rem;
        box-shadow: 1px 1px 3px $color-cuatro;
        color: white;
        font-weight: bold;
        letter-spacing: 0.15rem;
    }
    //estilos del section
    section{
        display: none;
    }
    //estilos del footer
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    footer h4{
        text-align: center;
        margin-top: 1rem;
    }
    
    footer ul{
        display: flex;
        list-style: none;
        gap: 1rem;
    }
}
    /*media queries tablet*/
    //media queries tablet
@media screen and (min-width:768px) and (max-width:2300px)
{
    body
    {
    header{
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        margin: 1rem;
    }
    header h1 a:visited{
        color: $color-cuatro;
        text-decoration: none;
    }

    header h1 a:link{
        color: $color-cuatro;
        text-decoration: none;
    }
    
    header nav ul{
        display: flex;
        list-style: none;
        gap: 1rem;
    }

    header nav ul li{
        font-weight: bold;
    }

    header nav ul a:visited{
        color: $color-cuatro;
        text-decoration: none;
    }
    header nav ul a:link{
        color: $color-cuatro;
        text-decoration: none;
    }

    header nav ul li:hover{
        background-color: $color-dos;
        transform: scale(0.9);
        box-shadow: 1px 1px 1px $color-cuatro;
        color: white;
    }
    //estilos nuevo main
    main{
        height: 70vh;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 2fr) ;
        grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr;
        grid-template-areas: 
        "h2 img"
        "m-texto img"
        "boton img";
        justify-content: center;
        justify-items: center;
    }

    main p{
        grid-area: p;
    }

    main img{
        grid-area: img;
        width: 60%;
        filter: drop-shadow(1px 1px 2px $color-cuatro);
    }

    main h2{
        grid-area: h2;
        font-size: 1.7rem;
    }

    main .m-texto{
        grid-area: m-texto;
    }

    main .boton{
        grid-area: boton;
    }

    main .boton:hover{
        transform: scale(1.1);
    }
    section{
        background-color:  $color-uno;
        display: block;
        display: flex;
        justify-content: center;
        padding: 1rem;
        border: $color-tres;
    }

    section div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section div img{
        width: 20%;
        filter: drop-shadow(4px 7px 2px $color-cuatro);
        animation-name: animacion;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    @keyframes animacion {
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(5px);
        }
        100%{
            transform: translateY(0);
        }
    }

    section div p{
        text-align: center;
    }
    footer{
        grid-area: footer;
        display: flex;
        align-items: center;
        margin-top: 2rem;
    }
    footer nav ul{
        display: flex;
        list-style: none;
        gap: 1rem;
    }

    footer nav ul li{
        font-weight: bold;
    }
}
@import "partials/secundarios";

}